snippet doxinline
/*! ${1:Comment} */
endsnippet

snippet doxafter
/*!< ${1:Comment} */
endsnippet

snippet doxfile
/*******************************************************************************
 * ${1: Things to know when reading this file.}
 ******************************************************************************/
endsnippet
