snippet doxinline
	/*! ${1:Comment} */

snippet doxafter
	/*!< ${1:Comment} */

snippet doxfile
	/*******************************************************************************
	 * ${1: Things to know when reading this file.}
	 ******************************************************************************/
